<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Running App</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}">

    <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha384-i61gTtaoovXtAbKjo903+O55Jkn2+RtzHtvNez+yI49HAASvznhe9sZyjaSHTau9"
            crossorigin="anonymous" th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.css}"></script>

</head>
<body>

<div class="container-fluid" style="margin-top: 10px">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary bg-gradient text-light">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title">My Running Events</h5>
                        </div>
                        <div class="col-md-2 justify-content-right">
                            <a class="btn btn-light" href="#"
                               th:href="@{'/running_event/new'}" role="button">Add event</a>
                        </div>
                    </div>


                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(running_events)}">

                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Event Type</th>
                                <th>Route</th>
                                <th>Location</th>
                                <th>Date</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Training</td>
                                <td>Route 1</td>
                                <td>Park</td>
                                <td>2022-12-07</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>124</td>
                                <td>Race</td>
                                <td>Route 2</td>
                                <td>Park</td>
                                <td>2022-12-08</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:each="running_event : ${running_events}">
                                <td th:text="${running_event.getId()}">125</td>
                                <td th:text="${running_event.getEventType()}">Training</td>
                                <td th:text="${running_event.getRoute().getName()}">Route name</td>
                                <td th:text="${running_event.getRoute().getLocation()}">Route location</td>
                                <td th:text="${running_event.getDate()}">Training</td>
                                <td><a href="#" th:href="@{'/running_event/' + ${running_event.getId()} + '/show'}">View</a>
                                </td>
                                <td><a href="#"
                                       th:href="@{'/running_event/' + ${running_event.getId()} + '/update'}">Update</a></td>
                                <td><a href="#"
                                       th:href="@{'/running_event/' + ${running_event.getId()} + '/delete'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>
